body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  #temperatureInput {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #unitSelect {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #convertButton {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #convertButton:hover {
    background-color: #555;
  }
  
  #result {
    margin: 20px;
    font-size: 24px;
  }
  